.project-page {

	color: $darkPuke;
	h1 {
		margin: 0;
	}
	p {
		margin: .5rem 0;
	}
	img {
		border: 1px solid white;
		box-shadow: 0 2px 7px transparentize(black, .8);
		box-sizing: border-box;
		margin: 1rem 0;
		width: 100%;
		max-width: 1000px;
		@include bp(sm){
			border-radius: 6px;
		}
	}

	.half {
		width: 100%;
		float: left;
		@include bp(sm){
			width: 49%;
			margin-right: 2%;
			&:last-child {
				margin-right: 0;
			}
		}
	}

}
