body {
	color: white;
	font-family: $base-font-family;
	font-size: $base-font-size;
	p {
		font-weight: lighter;
		line-height: 1.5;
	}

	a {
		color: inherit;
		font-weight: 400;
		text-decoration: none;
		&:hover {

		}
	}

	.bg {
		@include fixed-background();
		@include gradient();
	}
	.container {
		margin: 0 auto;
		max-width: 62.5rem;
	}
	.row {
		width: 100%;
	}
	#content {
		margin: 0 auto;
		font-weight: 300;
	}
}
