header {
  overflow: auto;
  padding: .5rem 0 1rem;
  padding: 5rem 0 1rem;
  margin-bottom: 2rem; }
  header .branding {
    float: left; }
    header .branding a {
      font-weight: bold;
      font-size: 1.5rem;
      font-size: 2rem;
      color: #2d5dc6;
      opacity: 1;
      text-transform: uppercase;
      transition: 0.3s linear all;
      -moz-transition: 0.3s linear all;
      -webkit-transition: 0.3s linear all; }
      header .branding a:hover {
        opacity: .8; }
  header nav {
    overflow: auto;
    width: 100%; }
  header li {
    font-weight: lighter;
    float: left;
    list-style: none;
    padding: .5rem 1rem .5rem 0; }
    header li a {
      font-weight: lighter;
      border-bottom: 1px solid rgba(45, 93, 198, 0.1);
      line-height: 1.3;
      padding-bottom: .1rem;
      transition: 0.1s linear all;
      -moz-transition: 0.1s linear all;
      -webkit-transition: 0.1s linear all; }
      header li a:hover {
        border-bottom: 1px solid #2d5dc6; }

body {
  font-family: "Montserrat", "Helvetica", "Ariel", sans-serif;
  font-size: 16px; }
  body p {
    font-weight: lighter;
    line-height: 1.5; }
  body a {
    color: inherit;
    font-weight: 400;
    text-decoration: none; }
  body .bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: #00808f;
    /* Old browsers */
    background: -moz-linear-gradient(30deg, #2d5dc6 0%, #56c4e4 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(30deg, #2d5dc6 0%, #56c4e4 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(30deg, #2d5dc6 0%, #56c4e4 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-gradient', endColorstr='$end-gradient',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  body .container {
    margin: 0 auto;
    max-width: 62.5rem; }
  body .row {
    width: 100%; }
  body #content {
    margin: 0 auto;
    font-weight: 300; }

.homepage {
  color: white;
  padding: 5rem 0; }
  .homepage h1 {
    text-transform: uppercase; }
  .homepage .title {
    font-weight: normal; }
  .homepage .intro {
    font-weight: 300;
    line-height: 1.5; }
  .homepage .projects {
    list-style: none;
    padding: 1rem 0; }
  .homepage li {
    margin: .5rem 0; }
  .homepage a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -webkit-transition: 0.1s linear all;
    padding-bottom: .1rem; }
    .homepage a:hover {
      border-bottom: 1px solid white; }

.project-page {
  padding-bottom: 5rem; }
  .project-page h1, .project-page h2, .project-page h3, .project-page a {
    color: #2d5dc6; }
  .project-page img {
    border: 1px solid white;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin: 1rem 0;
    max-width: 1000px;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .project-page img {
        border-radius: 6px; } }
  .project-page .project-intro,
  .project-page .afterword {
    padding: 1rem 0; }
    .project-page .project-intro .row,
    .project-page .afterword .row {
      border-left: 1px solid rgba(45, 93, 198, 0.1);
      margin: 4rem 0;
      padding-left: 2rem;
      width: 65%; }
    .project-page .project-intro p,
    .project-page .afterword p {
      color: #555;
      font-size: .9rem;
      font-weight: lighter;
      line-height: 1.8;
      margin: .5rem 0; }
  .project-page .half {
    float: left;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .project-page .half {
        margin-right: 2%;
        width: 49%; }
        .project-page .half:last-child {
          margin-right: 0; } }

/*# sourceMappingURL=main.css.map */
