.homepage {
	color: white;
	padding: 5rem 0;
	h1 {
		text-transform: uppercase;
	}
	.title {
		font-weight: normal;
	}
	.intro {
		font-weight: 300;
		line-height: 1.5;
	}
	.projects {
		list-style: none;
		padding: 1rem 0;
	}
	li {
		margin: .5rem 0;
		a {
			@include transition(.1s linear all);
			animation: fadeIn 1s ease-in;
			padding-bottom: .1rem;
			opacity: .8;
			&:hover {
				border-bottom: 1px solid white;
				opacity: 1;
			}
		}
	}
	@for $li from 1 through 5 {
		.item-#{$li} a{
			animation-delay: .1s * $li;
		}
	}
}
