.project-page {
	color: $darkPuke;
	padding-bottom: 5rem;
	img {
		border: 1px solid white;
		box-shadow: 0 2px 7px transparentize(black, .8);
		box-sizing: border-box;
		margin: 1rem 0;
		width: 100%;
		max-width: 1000px;
		@include bp(sm){
			border-radius: 6px;
		}
	}
	.project-intro,
	.afterword {
		padding: 1rem 0;
		.row {
			border-left: 1px solid transparentize($puke, .9);
			margin: 4rem 0;
			padding-left: 2rem;
			width: 65%;
		}
		p {
			color: $bodyTextColor;
			font-size: .9rem;
			font-weight: lighter;
			line-height: 1.8;
			margin: .5rem 0;
		}
	}
	.half {
		width: 100%;
		float: left;
		@include bp(sm){
			width: 49%;
			margin-right: 2%;
			&:last-child {
				margin-right: 0;
			}
		}
	}

}
