.project-page {
	color: $darkPuke;
	padding-bottom: 5rem;
	h1 {
	}
	p {
		color: $bodyTextColor;
		font-weight: lighter;
		margin: .5rem 0;
	}
	img {
		border: 1px solid white;
		box-shadow: 0 2px 7px transparentize(black, .8);
		box-sizing: border-box;
		margin: 1rem 0;
		width: 100%;
		max-width: 1000px;
		@include bp(sm){
			border-radius: 6px;
		}
	}
	.writeup, 
	.afterword {
		margin: 4rem auto;
		width: 65%;
		p {
			font-size: .9rem;
			line-height: 1.8;
		}
	}
	.afterword { 
		margin-top: 1rem;

	}
	.half {
		width: 100%;
		float: left;
		@include bp(sm){
			width: 49%;
			margin-right: 2%;
			&:last-child {
				margin-right: 0;
			}
		}
	}

}
